<!DOCTYPE html>
<html lang = "es">
<head>
	<meta charset="UTF-8" />
	<title>My online portfolio</title>
	<link rel="stylesheet" href="../static/css/styles.css">
	<link rel="stylesheet" href="../static/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header id="yo" class="Header">
	<nav class="MainMenu">
	<ul class="MainMenu-list">
		<li class="MainMenu-item"><a class="MainMenu-link" href="#yo">Yo</a></li>
		<li class="MainMenu-item"><a class="MainMenu-link" href="#perfil">Perfil</a></li>
		<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajo">Trabajo</a></li>
		<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contacto</a></a></li>
	</ul>
</nav>
	<figure class="Header-imageContainer">
		<img src="../static/images/avatar.jpg" class="Header-image">
		<figcaption class="Header-link"><a href="www.twitter.com" class="Header-link">@Cloudz</a></figcaption>
		<p class="Header-name">Luis García</p>
	</figure>
</header>
<section id="perfil" class="Profile">
	<h2 class="u-title">Mi perfil</h2>
	<p>Hola, si llegaste hasta aquí puedes ver mi portafolio y contactarme.</p>
	<a href="htttp://twitter.com/Jimwantsu" class="Profile-link">@Jimwantsu</a>
	<a href="htttp://facebook.com/Jimwantsu" class="Profile-link">Facebook</a>
</section>
<section id="trabajo" class="Work">
	<h2 class="Work-title u-title">Mi Trabajo</h2>
	<article class="Work-item">
		<figure class="Work-imageContainer">
			<img src="../static/images/thumb2.jpg">
			<figcaption class="Work-imageDescription">Website mejorando.la</figcaption>
		</figure>
	</article>
		<article class="Work-item">
		<figure class="Work-imageContainer">
			<img src="../static/images/thumb2.jpg">
			<figcaption class="Work-imageDescription">Website mejorando.la</figcaption>
		</figure>
	</article>
		<article class="Work-item">
		<figure class="Work-imageContainer">
			<img src="../static/images/thumb2.jpg">
			<figcaption class="Work-imageDescription">Website mejorando.la</figcaption>
		</figure>
	</article>
		<article class="Work-item">
		<figure class="Work-imageContainer">
			<img src="../static/images/thumb2.jpg">
			<figcaption class="Work-imageDescription">Website mejorando.la</figcaption>
		</figure>
	</article>
</section>
<footer id="contacto" class="Footer">
		<div class="Footer-left"><h2 class="Footer-title">Contacto</h2>
		<p class="Footer-description">Si tienes alguna sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario.</p>
	</div>
	<form class="Footer-form">
		<input class="Footer-input" placeholder="Nombre *" type="text">
		<input class="Footer-input" placeholder="Email *" type="email">
		<textarea class="Footer-textArea" placeholder="Mensaje" type"text"></textarea>
		<button class="Footer-botton" type"submit">Contacto</button>
	</form>
   </footer>
  </body>
</html>