<!DOCTYPE html>
<html>
<head>
	<title>El Cielo</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="estiloss.css">
</head>
<body>
	<table border ="1" cellpadding="5" cellspacing="2" class="Tabla">
		<tr>
			<td colspan = "2" align=center>Ecosistemas de la reserva de la biósfera "El Cielo"</td>
		</tr>
		<tr>
			<td align=center>Bosque tropical</td>
			<td><img src="http://3.bp.blogspot.com/-HrXw2Obm2-M/Uf5mslPc85I/AAAAAAAAX04/SVlJlJcxJpY/s1600/Bioma,+selva+tropical.jpg" WIDTH=300 HEIGHT=180 >
			</td>
		</tr>
		<tr>
			<td align=center>Bosque Mesófilo de Montaña</td>
			<td><img src="http://2.bp.blogspot.com/-lpqTu60gPOE/T5G07hZMgRI/AAAAAAAAApo/yKSZQ6MAUHU/s1600/misty_penas_blancas_valley_monteverde_cloud_forest_reserve_costa_rica.jpg" WIDTH=300 HEIGHT=180 >
			</td>
		</tr>
		<tr>
			<td align=center>Bosque de Pino y Encino</td>
			<td><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcTLSqh6hEYwNviVgxS5VXMDwUbKlgnbdlfPFTPtDpggjGUW-AeN" WIDTH=300 HEIGHT=180 >
			</td>
		</tr>

		<tr>
			<td align=center>Matorral Xerófilo</td>
			<td><img src="http://2.bp.blogspot.com/-kh02u7VezvI/TcoRFBl-qnI/AAAAAAAAAG4/iwd_sRVt308/s1600/xero.jpg" WIDTH=300 HEIGHT=180 >
			</td>
		</tr>
	</table>

	<div class="Div">
		<iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/watch?v=ubQXSB8tL8g" frameborder="0"></iframe>
	</div>	

	<div>
		<iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/watch?v=IoPq4YUBrdo" frameborder="0"></iframe>
	</div>
</body>
</html>