<!DOCTYPE html>
<html lang = "es">
    <head>
    	<title>Luis y Daniela <3</title>
    	<meta charset = "UTF-8" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="../static/css/estilos.css">
        <link rel="stylesheet" href="../static/css/normalize.css">

    </head>
    <body>
    	<header id="yo" class="Header">
    		<nav class="MainMenu">
    			<ul class ="MainMenu-list">
    				<li class ="MainMenu-item">
    					<a class = "MainMenu-link" href="#yo">Nosotros</a>
    				</li>
    				<li class ="MainMenu-item">
    					<a class = "MainMenu-link" href="#perfil">Redes Sociales</a>
    				</li>
    				<li class ="MainMenu-item">
    					<a class = "MainMenu-link" href="#trabajo">Nuestros Meses</a>
    				</li>
    				<li class ="MainMenu-item">
                        <a class = "MainMenu-link" href="#contacto">Contacto</a>
    				</li>
    			</ul>
    		</nav>
    		<figure class="Header-imageContainer">
    			<img src="../static/images/avatar.jpg" alt="Imagen personal" class="Header-image" />
    			<figcaption class="Header-imageDescription">
    				<a class="Header-link"href="http://twitter.com/Jimwantsu" target = "_blank">@Luis</a>
    			</figcaption>
    			<p class="Header-name">Luis y Daniela <3</p>
    		</figure>
    	</header>
    	<section id="perfil" class="Profile">
    		<h2 class = "Profile-title u-title">Redes sociales</h2>
    		<p class="Profile-description">
    			Aquí puedes encontrarnos
    		</p>
    		<a class="Profile-link" href="http://facebook.com/Jimwantsu" target = "_black">@Fb Luis</a>
    		<a class="Profile-link" href="http://twitter.com/Jimwantsu" target = "_black">@Twitter Luis</a>
    		<a class="Profile-link" href="https://www.facebook.com/daniela.merlo.77?fref=ts" target = "_black">@Fb Daniela</a>
            <a class="Profile-link" href="https://twitter.com/danymerloo" target = "_black">@Twitter Daniela</a>
    	</section>
    	<section id="trabajo" class="Work">
            <div class="Work-title u-title">
    		<h2>Nuestros meses juntos</h2>
             <p>Todo esto comenzo un 5 de julio del 2014</p>
         </div>
    		<article  class="Work-item">
    			<figure class="Work-imageContainer">
    				<img src="../static/images/primerfoto.jpg" alt = "Es la descripción de mi imagen">
    				<figcaption class="Work-description">Junio, nuestro primer mes juntos<br> y nuestra primer foto juntos.<br> Aún no eramos novios</figcaption>
    			</figure>
    		</article>

    		<article class="Work-item">
    			<figure class="Work-imageContainer">
    				<img src="../static/images/segundafoto.jpg" alt="Es la descripción de mi imagen">
    				<figcaption class="Work-description">Julio, ya eramos novios. <br>Nuestra primer foto como novios.<br> Ese día fue inolvidable</figcaption>
    			</figure>
    		</article>

    		<article class="Work-item">
    			<figure class="Work-imageContainer">
    				<img src="../static/images/tercerafoto.jpg" alt = "Es la descripción de mi imagen">
    				<figcaption class="Work-description">Agosto, nuestro segundo mes como novios<br> y primer mes como novios. Ese día no pudimos<br> estar juntos pero lo festejamos un 13 de agosto.</figcaption>
    			</figure>
    		</article>

    		<article class="Work-item">
    			<figure class="Work-imageContainer">
    				<img src="../static/images/cuartafoto.jpg" alt = "Es la descripción de mi imagen">
    				<figcaption class="Work-description">Septiembre, gracias a dios seguimos juntos<br> Y lo seguiremos, ya hay compromiso<br>de parte de los dos.</figcaption>
    			</figure>
    		</article>
    	</section>
    	<footer id="contacto" class="Footer">
            <div class="Footer-left">
            <h3 class="Footer-title">Mensaje</h3>
            <p class="Footer-description">------- <3.</p>
            </div>


    	</footer>
    </body>
</html>