/*		Utilities		*/

.u-title{
	color: pink;
	border-bottom: 2px dashed pink;
	font-size: 1.5em;
	font-weight: normal;
	padding-bottom: 1em;
	text-align: center;
}

/*		Main Menu		*/
.MainMenu{
	background: #2C3539;
	text-align: center;
	height: 3.75em;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.MainMenu-list{
	margin: 0;
	padding: 0;
}

.MainMenu-item{
	display: inline-block;
	margin-right: 2em;
}

.MainMenu-link{
	color: pink;
	text-decoration: none;
	line-height: 3.75em;
	margin right: 1.5em;
}

.Header{
	margin-top: 3.75em;
	background-image: url('../images/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}

.Header-image{
	border: 5px solid pink;
	border-radius: 50%;
}

.header-imageContainer{
	margin: 0;
}
.Header-name,.Header-link{
	color: white;
}

.Header-link{
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}

.Header-name{
	font-size: 1.5em;
	font-weight: 300;
	margin:0;
}

/*		Profile		*/

.Profile{
	text-align: center;
}

.Profile-link{
	background-color: orange;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: 1em;
}

/*		Work		*/
.Work{
	margin-top: 2em;
	text-align: center;
}

.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}

.Work-imageContainer{
	margin: 0;
}

.Work-imageDescription{
	font-style: italic;
	font-weight: 1.8em;
	color:gray;
}


/*		Footer		*/
.Footer{
	background-image: url('../images/footer.jpg');
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 2em;
	text-align: center;
}

.Footer-form{
	display: inline-block;
}

.Footer-title{
	color:white;
}
.Footer-input, .Footer-textArea{
	background: white;
	border: none;
	display: block;
	border-radius: 2em;
	margin:0 auto 1em;
	padding: .5em;
}

.Footer-textArea{
	resize:none;
}


.Footer-left{
	display:inline-block;
	width: 32em;
	text-align: center;
	vertical-align: top;
}
.Footer-botton{
	background-color: orange;
	color:white;
	 border-radius: 1em;
	 padding: .5em 1em;
	 border: none;
}